<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <nav class="navigation">
    <div class="container">
      <div class="nav-box">
        <div class="nav-left">
          <a href="/">
            <img src="https://www.mobilecentre.am/assets/img/logo.svg" alt="logo">
          </a>
        </div>

        <div class="nav-center">
          <form action="/search" method="get">
            <input type="text" name="search" placeholder="Search">
            <button type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>

        <div class="nav-right">
          <a>Cart</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="categories-container">
    <div class="container">
      <div class="categories">

        <% categories.forEach((category, index) => { %>

          <a
            href="/category/<%= category.slug %>"
            class="<%= index === 0 ? 'firstCategory' : '' %>"
          >
            <% if(category.slug === "phones"){ %>
              <i class="bi bi-phone"></i>
            <% } %>

            <% if(category.slug === "tablets"){ %>
              <i class="bi bi-tablet-landscape"></i>
            <% } %>

            <% if(category.slug === "watches"){ %>
              <i class="bi bi-watch"></i>
            <% } %>

            <span><%= category.title %></span>
          </a>

        <% }) %>

      </div>
    </div>
  </div>

  <div class="products-container">
    <div class="container">

      <% categories.forEach(category => { %>

        <h2><%= category.title %></h2>

        <div class="products">

          <% products
              .filter(product => product.categorySlug === category.slug)
              .forEach(product => { %>

            <a
              href="/product/<%= product.slug %>"
              class="product"
            >

              <p class="<%= product.inStock > 0 ? 'availability' : 'outofstock' %>">
                <%= product.inStock > 0 ? "Available" : "Out Of Stock" %>
              </p>

              <img
                src="<%= product.image %>"
                alt="<%= product.title %>"
              >

              <h2><%= product.title %></h2>

              <p class="price">
                <%= product.price.toLocaleString() %> AMD
              </p>

              <button>Buy</button>

            </a>

          <% }) %>

        </div>

      <% }) %>

    </div>
  </div>

  <footer class="footer">
      <div class="container">
          <div class="footerBox">
              <div class="footerLeft">
                <span>Mobile Center</span>
              </div>
              <div class="footerRight">
                <span>© 2026 MobileCentre Art LLC. All Rights Reserved. (AM)</span>
              </div>
          </div>
      </div>
  </footer>

</body>
</html>